# APP SETTINGS
APP_NAME="TDD PHP"
APP_ENV=local
APP_DEBUG=true
SAIL_XDEBUG_MODE=debug,develop,coverage
APP_URL=http://dev.test # 127.0.0.1 dev.test  [at hosts file]

# DATABASE SETTINGS
FORWARD_DB_PORT=3307
DB_CONNECTION=mysql
DB_HOST=db-server
DB_PORT=3306
DB_DATABASE=tdd_php
DB_USERNAME=jobs
DB_PASSWORD=password

# MEMCACHED URL
MEMCACHED_HOST=127.0.0.1

# REDIS SETTINGS
REDIS_HOST=db-redis
REDIS_PASSWORD=null
REDIS_PORT=6379